<!-- Paritials head -->
 
<%- include('../partials/head.ejs', { extraFont: false, stylesheetPath: '/css/styles-allProducts.css' }) %>

<body>
    <!--Partials header -->
    <%- include('../partials/header.ejs') %>

    <main>
        <!----------------- AQUI ESTAN LOS PRODUCTOS DEL USUARIO ------------------------>
        <section class="contenedor-productos-principal">
            <article class="titulo-contenedor">
                <h3>Todos los productos</h3>

                <div class="crear-producto"><a href="/product/allProducts/newProduct">Crear producto</a></div>
            </article>

            <!----------------- AQUI ESTAN LOS PRODUCTOS PARA MOSTRAR ------------------------>
            <article>
                <article class="contenedor-productos">
                    <!----------------- CICLO FOR PARA MOSTRAR LOS PRODUCTOS  ------------------------>
                    <% for( let i = 0; i < products.length; i++ ) { %>
                        <div class="producto">
                            <a href="/product/allProducts/productDetail/<%= products[i].id %>">
                                <div>
                                    <img src="/img/productos/<%= products[i].image %>" alt="Imagen de los productos destacados">
                                </div>
        
                                <div>
                                    <h4>$ <%= products[i].price %> <div class="descuento"><%= products[i].discount %>% Off</div></h4>
                                    <p><%= products[i].name %></p>
                                </div>
                            </a>
                        </div>
                    <% } %>

                </article>
            </article>
        </section>


        <!----------------- AQUI ESTAN LAS MARCAS DE LOS PRODUCTOS; SOLO SE MUEVE EN VERSION MOVIL ------------------------>
        <%- include('../partials/banner-marcas.ejs') %>
    </main>

    <!--Partials footer  -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>