<!-- Paritials head -->

<%- include('../partials/head.ejs', { extraFont: "https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" ,
    stylesheetPath: "/css/styles-editProduct.css" }) %>

    <body>
        <!--Partials header  -->
        <%- include('../partials/header.ejs') %>

            <main>
                <div class="contenedor-principal">

                    <!--------- TITULO DEL FORMULARIO ----------->
                    <div class="contenedor-titulo">
                        <h2>Edición de producto</h2>
                    </div>


                    <!-------------- FORMULARIO --------------------->
                    <div class="contenedor-formulario">
                        <form action="/product/allProducts/editProduct/<%= productToEdit.id %>?_method=PUT"
                            method="POST" enctype="multipart/form-data" id="editProductForm">
                            <div class="contenedor-inputs">
                                <div>
                                    <label for="name">Nombre del producto:</label>
                                    <input type="text" id="name" name="name"
                                        placeholder="Ej: Smartwatch Amazfit Bip 3 Pink"
                                        value="<%= locals.oldData ? oldData.name : productToEdit.name %>">
                                    <% if (locals.errors && errors.name) { %>
                                        <div class="error">* <%= errors.name.msg %>
                                        </div>
                                        <% } %>
                                        <div class="error" id="errorName"></div>
                                </div>

                                <div>
                                    <label for="price">Precio del producto:</label>
                                    <input type="text" id="price" name="price" placeholder="Ej: 5678"
                                        value="<%= locals.oldData ? oldData.price : productToEdit.price %>">
                                    <% if (locals.errors && errors.price) { %>
                                        <div class="error">* <%= errors.price.msg %>
                                        </div>
                                        <% } %>
                                        <div class="error" id="errorPrice"></div>
                                </div>

                                <div>
                                    <label for="discount">Descuento:</label>
                                    <input type="text" id="discount" name="discount" placeholder="Ej: 15"
                                        value="<%= locals.oldData ? oldData.discount : productToEdit.discount %>">
                                    <% if (locals.errors && errors.discount) { %>
                                        <div class="error">* <%= errors.discount.msg %>
                                        </div>
                                        <% } %>
                                        <div class="error" id="errorDiscount"></div>
                                </div>

                                <div>
                                    <label for="brand">Marca:</label>
                                    <select name="brand" id="brand">
                                        <% brands.forEach(element=> { %>
                                            <option value="<%= element.id %>" <% if (element.id==productToEdit.brand_id)
                                                { %>selected<% } %>><%= element.name %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>

                                <!------------ CHECKBOX DE LAS CATEGORIAS ---------------->
                                <div class="contenedor-categorias">
                                    <label for="categories">Categorias:</label>
                                    <% categories.forEach(category=> { %>
                                        <div>
                                            <input type="checkbox" id="<%= category.name %>" name="categories"
                                                value="<%= category.id %>" <% if
                                                (productToEdit.categories.some(productCategory=> productCategory.id ==
                                            category.id)) { %> checked <% } %>>
                                                <label for="<%= category.name %>">
                                                    <%= category.name %>
                                                </label>
                                        </div>
                                        <% }) %>
                                            <% if (locals.errors && errors.categories) { %>
                                                <div class="error">* <%= errors.categories.msg %>
                                                </div>
                                                <% } %>
                                </div>

                                <div class="contenedor-imagen">
                                    <label for="image">Imagen:</label>
                                    <input type="file" id="image" name="image">
                                    <% if (locals.errors && errors.image) { %>
                                        <div class="error">* <%= errors.image.msg %>
                                        </div>
                                        <% } %>
                                        <div class="error" id="errorImage"></div>
                                </div>


                                <div>
                                    <label for="status">Estado:</label>
                                    <select name="status" id="status">
                                        <option value="0">Ninguno</option>
                                        <% status.forEach(element=> { %>
                                            <option value="<%= element.id %>" <% if
                                                (element.id==productToEdit.status_id) { %>selected<% } %>><%=
                                                        element.name %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>

                                <div>
                                    <label for="description">Descripción:</label>
                                    <textarea name="description"
                                        id="description"><%= locals.oldData ? oldData.description : productToEdit.description %></textarea>
                                    <% if (locals.errors && errors.description) { %>
                                        <div class="error">* <%= errors.description.msg %>
                                        </div>
                                        <% } %>
                                        <div class="error" id="errorDescription"></div>
                                </div>

                                <div class="boton-guardar">
                                    <button type="submit">Guardar producto</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </main>

            <!--Partials footer  -->
            <%- include('../partials/footer.ejs') %>

    </body>
    <script src="/scripts/Validations/editProduct.js"></script>
    </html>