<!-- Paritials head -->

<%- include('../partials/head.ejs', { extraFont: "https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap", stylesheetPath: "/css/styles-productCart.css" }) %>

<body>
    <!--Partials header  -->
    <%- include('../partials/header.ejs') %>
    
    <main>
        <!----------------- TITULO ------------------------>
        <section class="titulo">
            <h3>Mi Carrito</h3>
        </section>

        <!----------------- PRODUCTOS Y FINALIZAR COMPRA ------------------------>
        <section class="contenedor-principal">
            <!-------------- SE CREA UN FORMULARIO PARA PODER ENVIAR TODOS LOS PRODUCTOS AL BACKEND -------->
            <form action="" method="post">
                <!----------------- CONTIENE LOS PRODUCTOS QUE SE VAN A COMPRAR ------------------------>
                <article class="contenedor-productos">
                    <article class="encabezado-productos">
                        <div><p>Nombre</p></div>
                        <div><p>Cantidad</p></div>
                        <div><p>Precio</p></div>
                    </article>

                    <!------------ AQUI SE VAN A IR INGRESANDO LOS PRODUCTOS DEL CARRITO -------------->
                    <% for( let i = 0; i < cartProducts.length; i++ ) { %>
                        <article class="informacion-producto">
                            <div class="imagen-producto">
                                <img src="/img/productos/<%= cartProducts[i].image %>" alt="Imagen del producto">
                            </div>
    
                            <div class="nombre-producto">
                                <p><%= cartProducts[i].name %></p>
                            </div>
    
                            <div class="boton-cantidad">
                                <button>-</button><input type="text" value="1"><button>+</button>
                            </div>
    
                            <div class="precio-producto">
                                <p>$ <%= cartProducts[i].price %></p>
                            </div>
    
                            <div class="boton-eliminar-producto">
                                <button><i class="fa-solid fa-xmark"></i></button>
                            </div>
                        </article>
                    <% } %>
                </article>
                
                <!----------------- CONTIENE EL PRECIO TOTAL Y EL BOTON PARA ENVIAR EL FORMULARIO ---------->
                <article class="contenedor-precio-total">
                    <article>
                        <h4>Precio Total:</h4>

                        <% for( let i = 0; i < cartProducts.length; i++ ) { %>
                            <p>$ <%= cartProducts[i].price %></p>
                        <% } %>
    
                    </article>

                    <article class="precio-total">
                        <p>$ <%= precioTotal %></p>
                    </article>
                    
                    <!----------------- BOTON PARA FINALIZAR COMPRA Y ENVIAR FORMULARIO ------------------------>
                    <article class="boton-finalizar-compra">
                        <button type="submit">Finalizar Compra</button>
                    </article>
                </article>
            </form>
        </section>
    </main>

    <!--Partials footer  -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>