<!-- Paritials head -->
 
<%- include('../partials/head.ejs', { extraFont: false, stylesheetPath: '/css/styles-listProducts.css' }) %>

<body>
    <!--Partials header -->
    <%- include('../partials/header.ejs') %>

    <main>
        <!----------------- AQUI ESTAN LOS PRODUCTOS DESTACADOS DEL USUARIO ------------------------>
        <section class="contenedor-productos-destacados">
            <article class="titulo-contenedor">
                <h3><%= listTitle %></h3>
            </article>

            <!----------------- AQUI ESTAN LOS PRODUCTOS DESTACADOS, EN OFERTA Y FAVORITOS PARA MOSTRAR ------------------------>
            <article>
                <article class="contenedor-productos">
                    <!----------------- CICLO FOR PARA MOSTRAR LOS PRODUCTOS  ------------------------>
                    <% for( let i = 0; i < productsToShow.length; i++ ) { %>
                        <div class="producto">
                            <a href="/product/productDetail/<%= productsToShow[i].id %>">
                                <div>
                                    <img src="/img/productos/<%= productsToShow[i].image %>" alt="Imagen de los productos destacados">
                                </div>
        
                                <div>
                                    <h4>$ <%= productsToShow[i].price %> <div class="descuento"><%= productsToShow[i].discount %>% Off</div></h4>
                                    <p><%= productsToShow[i].name %></p>
                                </div>
                            </a>
                        </div>
                    <% } %>

                </article>
            </article>
        </section>


        <!----------------- AQUI ESTAN LAS MARCAS DE LOS PRODUCTOS; SOLO SE MUEVE EN VERSION MOVIL ------------------------>
        <section class="banner-marcas">
            <article class="slider-box-marcas">
                <ul>
                    <li><img src="/img/marcas/marca-1.svg"></li>
                    <li><img src="/img/marcas/marca-2.svg"></li>
                    <li><img src="/img/marcas/marca-3.svg"></li>
                    <li><img src="/img/marcas/marca-4.svg"></li>
                    <li><img src="/img/marcas/marca-5.svg"></li>
                    <li><img src="/img/marcas/marca-6.svg"></li>
                    <li><img src="/img/marcas/marca-7.svg"></li>
                    <li><img src="/img/marcas/marca-8.svg"></li>
                    <li><img src="/img/marcas/marca-2.svg"></li>
                </ul>
            </article>
        </section>
    </main>

    <!--Partials footer  -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>