<!-- Paritials head -->
 
<%- include('../partials/head.ejs', { extraFont: false, stylesheetPath: '/css/styles-productDetail.css' }) %>

<body>
    <!--Partials header-->
    <%- include('../partials/header.ejs') %>

    <main>

        <!----------------- CONTENEDOR DE LAS IMAGENES DEL DETALLE DE PRODUCTO ------------------------>
        <section class="imagenes-producto">

            <!----------------- IMAGENES MINIATURA DEL PRODUCTO ------------------------>
            <article class="contenedor-imagenes-pequeñas">
                <div><img src="/img/productos/<%= product.image %>" alt="Imagenes de muestra"></div>
                <div><img src="/img/productos/<%= product.image %>" alt="Imagenes de muestra"></div>
                <div><img src="/img/productos/<%= product.image %>" alt="Imagenes de muestra"></div>
                <div><img src="/img/productos/<%= product.image %>" alt="Imagenes de muestra"></div>
            </article>

            <!----------------- IMAGEN PRINCIPAL DEL PRODUCTO ------------------------>
            <article class="contenedor-imagen-principal">
                <img src="/img/productos/<%= product.image %>" alt="Imagen principal">
            </article>
        </section>

        <!----------------- CONTENEDOR DE LA INFORMACION DEL PRODUCTO JUNTO A LOS BOTONES DE ACCION ------------------------>
        <section class="contenedor-detalles-producto">

            <!----------------- INFORMACION DEL PRODUCTO ------------------------>
            <article class="informacion-producto">
                <p class="marca"><%= product.brand %></p>
                <h3><%= product.name %></h3>
                <p class="precio">$ <%= product.price %></p>

                <p><%= product.description %></p>
            </article>
            
            <!----------------- CONDICIONAL PARA MOSTRAR LOS BOTONES DE ADMIN ------------------------>
            <% if ( locals.userLogged && userLogged.admin == 1 && req.originalUrl === '/product/allProducts/productDetail/' + product.id) { %>
                <article class="botones-admin">

                    <button><a href="/product/allProducts/editProduct/<%= product.id %>">Editar</a></button>

                    <form action="/product/allProducts/delete/<%= product.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="boton-eliminar">Eliminar</button>
                    </form>
                </article>
            <% } else { %>

                <!----------------- AQUI ESTAN LOS BOTONES DE CANTIDAD Y FAVORITOS ------------------------>
                <article class="contenedor-cantidad-favoritos">
    
                    <!----------------- BOTONES PARA AÑADIR LA CANTIDAD DESEADA ------------------------>
                    <article class="boton-cantidad">
                        <p>Cantidad:</p> <button id="minus">-</button><input type="text" value="1" id="count"><button id="plus">+</button> 
                    </article>
    
                    <!----------------- BOTON PARA AGREGAR A FAVORITOS; FALTA AÑADIR ESA SECCION ------------------------>
                    <article class="boton-favoritos">
                        <button id="favorite"><i class="fa-solid fa-heart"></i></button><p>Favoritos</p>
                    </article>
                </article>
    
                <!----------------- BOTONES PARA AGREGAR AL CARRITO Y COMPRAR ------------------------>
                <article class="botones-comprar-carrito">
                    <button>Agregar al carrito</button>
                    <button>Comprar ahora</button>
                </article>
             
            <% } %>
             
        </section>
    </main>

    <!--Partials footer-->
    <%- include('../partials/footer.ejs') %>
</body>
<script src="/scripts/detailButtons.js"></script>
</html>