<!-- Paritials head -->
 
<%- include('../partials/head.ejs', { extraFont: false, stylesheetPath: '/css/styles-index.css' }) %>

<body>
    <!--Partials header -->
    <%- include('../partials/header.ejs') %>

    <main>
        <!----------------- BANNER DE IMAGENES PARA LA VERSION MOVIL ------------------------>
        <section class="banner-imagenes-movil">
            <article class="slider-box">
                <ul>
                    <li><img src="/img/banner/banner-1-movil.webp"></li>
                    <li><img src="/img/banner/banner-2-movil.webp"></li>
                    <li><img src="/img/banner/banner-3-movil.webp"></li>
                    <li><img src="/img/banner/banner-4-movil.webp"></li>
                    <li><img src="/img/banner/banner-5-movil.webp"></li>
                </ul>
            </article>
        </section>
    
        <!----------------- BANNER DE IMAGENES PARA LA VERSION ESCRITORIO Y TABLET ------------------------>
        <section class="banner-imagenes">
            <article class="slider-box">
                <ul>
                    <li><img src="/img/banner/banner-1.webp" id="banner-1"></li>
                    <li><img src="/img/banner/banner-2.webp"></li>
                    <li><img src="/img/banner/banner-3.webp"></li>
                    <li><img src="/img/banner/banner-4.webp"></li>
                    <li><img src="/img/banner/banner-5.webp"></li>
                </ul>
            </article>
        </section>

        <!----------------- AQUI ESTAN LOS PRODUCTOS DESTACADOS DEL USUARIO ------------------------>
        <section class="contenedor-productos-destacados">
            <article class="titulo-contenedor">
                <h3>Productos Más Vendidos</h3>
            </article>

            <!----------------- AQUI ESTAN LOS PRODUCTOS DESTACADOS PARA MOSTRAR EN EL HOME ------------------------>
            <article>
                <article class="contenedor-productos">
                    <!----------------- CICLO FOR PARA MOSTRAR PRIMEROS 4 PRODUCTOS  ------------------------>
                    <% for( let i = 0; i < 4; i++ ) { %>
                        <div class="producto">
                            <a href="/product/productDetail/<%= featuredProducts[i].id %>">
                                <div>
                                    <img src="/img/productos/<%= featuredProducts[i].image %>" alt="Imagen de los productos destacados">
                                </div>
        
                                <div>
                                    <h4>$ <%= featuredProducts[i].price %> <div class="descuento"><%= featuredProducts[i].discount %>% Off</div></h4>
                                    <p><%= featuredProducts[i].name %></p>
                                </div>
                            </a>
                        </div>
                    <% } %>

                </article>
            </article>

            <!----------------- BOTON PARA VER MAS PRODUCTOS; DEBERIA LLEVAR A OTRA VISTA ------------------------>
            <article class="ver-mas">
                <a href="/product/productsList/featured">Ver más <i class="fa-solid fa-chevron-right"></i></a>
            </article>
        </section>

        <!----------------- AQUI ESTAN LOS PRODUCTOS EN OFERTA PARA EL USUARIO ------------------------>
        <section class="contenedor-productos-ofertas">
            <article class="titulo-contenedor">
                <h3>Mejores Ofertas</h3>
            </article>

            <!----------------- AQUI ESTAN LOS PRODUCTOS EN OFERTA PARA MOSTRAR EN EL HOME ------------------------>
            <article>
                <article class="contenedor-productos">

                    <!----------------- CICLO FOR PARA MOSTRAR PRIMEROS 4 PRODUCTOS  ------------------------>
                    <% for( let i = 0; i < 4; i++ ) { %>
                        <div class="producto">
                            <a href="/product/productDetail/<%= inSaleProducts[i].id %>">
                                <div>
                                    <img src="/img/productos/<%= inSaleProducts[i].image %>" alt="Imagen de los productos en oferta">
                                </div>
        
                                <div>
                                    <h4>$ <%= inSaleProducts[i].price %> <div class="descuento"><%= inSaleProducts[i].discount %>% Off</div></h4>
                                    <p><%= inSaleProducts[i].name %></p>
                                </div>
                            </a>
                        </div>
                    <% } %>

                </article>
            </article>

            <!----------------- BOTON PARA VER MAS PRODUCTOS; DEBERIA LLEVAR A OTRA VISTA ------------------------>
            <article class="ver-mas">
                <a href="/product/productsList/in-sale">Ver más <i class="fa-solid fa-chevron-right"></i></a>
            </article>
        </section>

        <!----------------- AQUI ESTAN LA SECCION DE NOTICIAS PARA EL USUARIO ------------------------>
        <section class="contenedor-noticias">

            <!----------------- SOLO SE DISPONDRA DE DOS NOTICIAS CADA UNA CORRESPONDE A UN ARTICLE ------------------------>
            <article class="noticias">
                <div class="img-noticia">
                    <img src="/img/noticia-1.jpeg" alt="">
                </div>
                    
                <div>
                    <h3>IBM anuncia el comienzo de la “era de la utilidad cuántica” y anticipa un superordenador en 2033</h3>
    
                    <p>La compañía asegura haber alcanzado un sistema de computación que no se puede simular con procedimientos clásicos</p>
                </div>
                
                <div class="ver-mas-noticias">
                    <a href="https://elpais.com/tecnologia/2023-12-04/ibm-anuncia-el-comienzo-de-la-era-de-la-utilidad-cuantica-y-anticipa-un-superordenador-en-2033.html" target="_blank">
                    Ver más <i class="fa-solid fa-chevron-right"></i></a>
                </div>
            </article>

            <article class="noticias">
                <div class="img-noticia">
                    <img src="/img/noticia-2.webp" alt="">
                </div>
                    
                <div>
                    <h3>Microsoft entra en el consejo de OpenAI como observador, pero sin derecho a voto</h3>
    
                    <p>Sam Altman ya es de nuevo jefe de la firma de inteligencia artificial: “Se escribirán libros de lo que ha pasado”</p>
                </div>
                 
                <div class="ver-mas-noticias">
                    <a href="https://elpais.com/tecnologia/2023-11-30/microsoft-entra-en-el-consejo-de-openai-como-observador-pero-sin-derecho-a-voto.html" target="_blank">
                    Ver más <i class="fa-solid fa-chevron-right"></i></a>
                </div>
            </article>

        </section>

        <!----------------- AQUI ESTAN LAS MARCAS DE LOS PRODUCTOS; SOLO SE MUEVE EN VERSION MOVIL ------------------------>
        <%- include('../partials/banner-marcas.ejs') %>
    </main>
    
    <!--Partials footer  -->
    <%- include('../partials/footer.ejs') %>

</body>

</html>