<!-- Paritials head -->
 
<%- include('../partials/head.ejs', { extraFont: "https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap", stylesheetPath: "/css/styles-login.css" }) %>

<body>
    <!--Partials header -->
    <%- include('../partials/header.ejs') %>

    <main>
        <!----------------- FORMULARIO DE LOGIN ------------------------>
        <section class="fondo-login">
            <article class="contenedor-login">
                <form action="/user/login" method="post" id="loginForm">

                    <!----------------- TITULO DEL FORMULARIO ------------------------>
                    <label class="titulo-login">Acceder</label>

                    <!----------------- CAMPOS DEL FORMULARIO ------------------------>
                    <label for="identifier">Usuario o email</label>
                    <input type="text" id="identifier" name="identifier" value="<%= locals.oldData ? oldData.identifier : null %>">
                    <% if (locals.errors && errors.identifier) { %>
                        <div class="error">* <%= errors.identifier.msg %></div>
                    <% } %>
                    <div class="error" id="errorIndetifier"></div>

                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password">
                    <% if (locals.errors && errors.password) { %>
                        <div class="error">* <%= errors.password.msg %></div>
                    <% } %>
                    <div class="error" id="errorPassword"></div>

                    <!----------------- LINKS DEL FORMULARIO ------------------------>
                    <p><a href="/user/restPassword">¿Olvidaste tu contraseña?</a> | <a href="/user/register">Crear cuenta</a></p>

                    <!----------------- BOTON PARA ENVIAR EL FORMULARIO ------------------------>
                    <button type="submit" class="acceder">Acceder</button>
                </form>
            </article>

            <!----------------- FRASE DEL LOGIN PARA RECIBIR A LOS USUARIOS ------------------------>
            <article class="frase-login">
                <p>Navega hacia la innovación al ingresar a un océano de oportunidades tecnológicas.</p>
            </article>
        </section>
    </main>

    <!--Partials footer  -->
    <%- include('../partials/footer.ejs') %>
</body>
<script src="/scripts/Validations/login.js"></script>
</html>