<!-- Paritials head -->
 
<%- include('../partials/head.ejs', { extraFont: "https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap", stylesheetPath: "/css/styles-profile.css" }) %>

<body>
    <!--Partials header -->
    <%- include('../partials/header.ejs') %>

    <main>
        <section>

            <!-- FONDO SUPERIOR DEL PROFILE -->
            <article class="profile-cover">
                <img src="/img/img-profile-cover/<%= randomNumber %>.jpg" alt="Fondo de portada">
            </article>

            <!-- INFORMACION DEL PROFILE -->
            <article class="user-information">
                <div class="avatar">
                    <img src="/img/img-profile-cover/1.jpg" alt="">
                </div>

                <div class="information">
                    <h1><%= userInformation.user %></h1>
                    <p class="nombre"><%= userInformation.name ? userInformation.name : "Usuario" %></p>
                    <p class="ubicacion">
                        <%= userInformation.city ? userInformation.city : "Ciudad" %>, <%= userInformation.country ? userInformation.country : "Pais" %>
                    </p>
                </div>

                <% if ( userLogged.admin ) { %>
                    <div class="button-admin">
                        <button type="button"><a href="/product/allProducts">Administrar productos</a></button>
                    </div>
                <% } %>

                <div class="button-logout">
                    <button type="button"><a href="/user/logout">Cerrar sesion</a></button>
                </div>

            </article>

            <!-- FONDO INFERIOR DEL PROFILE Y CONFIGURACION -->
            <article class="user-edit-information">
                <form action="/user/profile?_method=PUT" method="POST">

                    <h1>EDITAR INFORMACION DEL USUARIO</h1>

                    <div>
                        <label for="name">Nombre:</label>
                        <input type="text" name="name" id="name" placeholder="Richard Gonzales">
                    </div>

                    <div>
                        <label for="avatar">Avatar:</label>
                        <input type="file" name="avatar" id="avatar">
                    </div>

                    <div>
                        <label for="country">Pais:</label>
                        <select name="country" id="country">
                            <option value="" selected disabled >Elegir un pais</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Canada">Canada</option>
                            <option value="Mexico">Mexico</option>
                            <option value="Peru">Peru</option>
                            <option value="Chile">Chile</option>
                        </select>
                    </div>

                    <div>
                        <label for="city">Ciudad:</label>
                        <input type="text" name="city" id="city" placeholder="Buenos Aires">
                    </div>

                    <div class="button-submit">
                        <button type="submit">Guardar cambios</button>
                    </div>
                </form>
            </article>

        </section>
    </main>

    <!--Partials footer  -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>